<link rel="stylesheet" href="/css/add_products.css">

<%- include('_admin_header'); %>

<h1>Add Product</h1> 
<div class="productForm">
    <form action="/products/addProduct" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th>Size</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" id="name" name="name" required></td>
                <td><textarea id="desc" name="desc" required></textarea></td>
                <td><input type="text" id="price" name="price" value="99"></td>
                <td><input type="file" id="image" name="image" required></td>
                <td><input type="text" id="category" name="category" required></td>
                <td>
                    <select id="sizes" name="sizes" multiple>
                        <option value="M">M</option>
                        <option value="XL">XL</option>
                        <option value="S">S</option>
                    </select>
                </td>
                <td><button type="submit">Add Product</button></td>
            </tr>
        </table>
    </form>
</div>