<link rel="stylesheet" href="/css/admin_header.css">

<header>
    <nav>
        <ul>
            <li><a href="/admin/adminPage">All Products</a></li>
            <li><a href="/products/addProductPage">Add Products</a></li>
            <li><a href="/admin/orders">All orders</a></li>
        </ul>
    </nav>
</header>